<div class="pos-f-t">
    <nav class="navbar  bg-dark-grey">
        <button class="navbar-toggler text-white" onclick="openNav()" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>Menu
        </button>

        <span>
                   <a class="bg-light tel yellow-border" href="tel:+380978892012"><i class="fas fa-phone-volume animated"></i> 380978892012</a>
               </span>
    </nav>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ path('index') }}"  {% if main is defined and main is not empty %}class="bg-yellow" {% endif %} onclick="closeNav()" >Головна</a>
    <a href="{{ path('index') }}#link_credo" onclick="closeNav()" >Послуги</a>
    <a href="{{ path('index') }}#link_cv"  onclick="closeNav()">Про Адвоката</a>
    <a href="{{ path('price')  }}" onclick="closeNav()" {% if price is defined and price is not empty %}class="bg-yellow" {% endif %}>Вартість Послуг</a>
    <a href="{{ path('public' , {'offset': 6})  }}" {% if posts is defined and posts is not empty %}class="bg-yellow" {% endif %} onclick="closeNav()">Блог</a>
    <a href={{ path('index') }}#link_contact onclick="closeNav()">Контакти</a>
    {% if(is_granted('ROLE_USER')) %}
    <a href="{{ path('posts') }}" onclick="closeNav()">Адміністатор</a>
        <a href="{{ path('logout') }}" onclick="closeNav()">Вийти</a>
    {% endif %}
</div>